/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: GATK4_INDEXFEATUREFILE {
        publishDir = [
            path: { "${params.outdir}/gatk4_indexfeaturefile" },
            mode: params.publish_dir_mode,
            pattern: "*.{tbi,idx}"
        ]
    }

    withName: GATK4_GENOMICSDBIMPORT {
        ext.prefix = { "tpallidum_genomics_db" }
        ext.args   = { "--batch-size 100" }
        publishDir = [
            path: { "${params.outdir}/gatk4_genomicsdbimport" },
            mode: params.publish_dir_mode,
            pattern: "tpallidum_genomics_db"
        ]
    }

    withName: GATK4_GENOTYPEGVCFS {
        ext.args   = { "-A AlleleFraction" }
        ext.prefix = { "02_unfiltered" }
        publishDir = [
            path: { "${params.outdir}/gatk4_genotypegvcfs" },
            mode: params.publish_dir_mode,
            pattern: "*{02_unfiltered.vcf.gz}"
        ]
    }

    withName: BCFTOOLS_GT_UNFILTERED {
        ext.args   = { "+setGT" }
        ext.args2  = { "-- -t q -n . -e '((FORMAT/AD / FORMAT/DP)>${params.variant_af})'" }
        ext.prefix = { "03_genotypesAF08" }
        publishDir = [
            path: { "${params.outdir}/bcftools" },
            mode: params.publish_dir_mode,
            pattern: "*{.vcf.gz}"
        ]
    }

    withName: BCFTOOLS_GT_FILTERED_DP {
        ext.args   = { "+setGT" }
        ext.args2  = { "-- -t q -n . -i 'FORMAT/DP<${params.variant_dp}'" }
        ext.prefix = { "04_genotypesAF08DP3" }
        publishDir = [
            path: { "${params.outdir}/bcftools" },
            mode: params.publish_dir_mode,
            pattern: "*{.vcf.gz}"
        ]
    }

    withName: GATK4_INDEX_GT_FILTERED_DP {
        publishDir = [
            path: { "${params.outdir}/gatk4_indexfeaturefile" },
            mode: params.publish_dir_mode,
            pattern: "*.{tbi,idx}"
        ]
    }

    withName: GATK4_VARIANTFILTRATION_GT_AF08DP3 {
        ext.args   = { "--mask ${mask} --mask-name 'phylo_mask'" }
        ext.prefix = { "05_phylomarked" }
        publishDir = [
            path: { "${params.outdir}/gatk4_variantfiltration" },
            mode: params.publish_dir_mode,
            pattern: "*{vcf.gz,.tbi}"
        ]
    }

    withName: BCFTOOLS_VIEW_SNP {
        ext.args   = { "view -i 'TYPE=\"SNP\"'" }
        ext.prefix = { "06_snps" }
        publishDir = [
            path: { "${params.outdir}/bcftools" },
            mode: params.publish_dir_mode,
            pattern: "*{.vcf.gz}"
        ]
    }

    withName: BCFTOOLS_VIEW_FILTER_MASK {
        ext.args   = { "view -e 'FILTER=\"phylo_mask\"'" }
        ext.prefix = { "07_masked_snps" }
        publishDir = [
            path: { "${params.outdir}/bcftools" },
            mode: params.publish_dir_mode,
            pattern: "*{.vcf.gz}"
        ]
    }

    withName: GATK4_INDEX_MASKED_SNPS {
        publishDir = [
            path: { "${params.outdir}/bcftools" },
            mode: params.publish_dir_mode,
            pattern: "*.{tbi,idx}"
        ]
    }

    withName: VARIANTS_TO_TABLE_NOCALL {
        ext.args   = { "-F POS -GF GT" }
        ext.prefix = { "${meta.id}_count_nocall" }
        publishDir = [
            path: { "${params.outdir}/variants_to_table" },
            mode: params.publish_dir_mode,
            pattern: "*{.txt}"
        ]
    }

    withName: PERCENT_NO_GENOTYPE {
        publishDir = [
            path: { "${params.outdir}/n25_args" },
            mode: params.publish_dir_mode,
            pattern: "*{.args}"
        ]
    }

    withName: SUMMARY_FINAL {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
}
